.container {
    font-family: Arial, sans-serif;
    color: #F1F1F1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.themeSwitcher {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.themeToggleSlider {
    width: 70px;
    height: 35px;
    background-color: #3E4A56;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.sliderCircle {
    width: 31px;
    height: 31px;
    background-color: #F1F1F1;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
}

.light .sliderCircle {
    left: 37px;
}

.light .header h1,
.light .header p {
    color: #1C1C1C;
}

.light .emailLogo,
.light .maltLogo,
.light .linkedinLogo,
.light .githubLogo,
.light .resumeLogo {
    filter: none;
}

.light .arrow {
    filter: invert(1) brightness(0);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.header h1,
.header p,
.contact,
.arrow {
    user-select: none;
}

.contact {
    list-style-type: none;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 10px 10px 0px;
}

.emailLogo,
.maltLogo,
.linkedinLogo,
.githubLogo,
.resumeLogo {
    filter: brightness(0) saturate(100%) invert(1);
}

.emailLogo:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(99%) saturate(1063%) hue-rotate(359deg) brightness(103%) contrast(97%);
}

.maltLogo:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(4157%) hue-rotate(323deg) brightness(108%) contrast(114%);
}

.linkedinLogo:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(73%) saturate(2285%) hue-rotate(180deg) brightness(95%) contrast(101%);
}

.githubLogo:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(89%) saturate(406%) hue-rotate(82deg) brightness(95%) contrast(89%);
}

.resumeLogo:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(82%) saturate(3611%) hue-rotate(334deg) brightness(92%) contrast(92%);
}

.scrollText {
    margin-top: 160px;
}

.scroll {
    width: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.educationDates {
    text-decoration: underline;
}

.textLink {
    color: cornflowerblue;
    font-weight: 100;
}

.slideImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #121212;
}

@media only screen and (min-aspect-ratio: 1/1) {
    .mainMobile {
        display: none;
    }

    .logo {
        display: none;
    }

    .header {
        z-index: 100;
        text-align: center;
        padding: 150px 0;
        position: relative;
    }

    .header h1 {
        margin: 0;
        font-size: 5em;
        color: #F1F1F1;
        font-weight: 800;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .mainDesktop {
        display: none;
    }

    .scrollText,
    .scroll {
        display: none;
    }

    .themeSwitcher {
        display: none;
    }

    .header {
        text-align: center;
        position: relative;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .header h1 {
        font-size: 2.5em;
        color: #F1F1F1;
        font-weight: 800;
    }

    .emailLogo,
    .maltLogo,
    .linkedinLogo,
    .githubLogo,
    .resumeLogo {
        filter: brightness(0) saturate(100%) invert(0.75);
    }

    .mainMobile h1 {
        font-size: 1.5em;
        color: #F1F1F1;
        font-weight: 800;
    }

    .mainMobile h2 {
        color: #F1F1F1;
        font-weight: 800;
    }

    .mainMobile .mdLink {
        color: cornflowerblue;
        text-decoration: underline;
    }
}