.container {
    font-family: Arial, sans-serif;
    color: rgb(200, 200, 200);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    padding: 40px 0;
}

.contact {
    list-style-type: none;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 10px 10px 0px;
}

.footer {
    z-index: 100;
    text-align: center;
    padding: 150px 0;
    position: relative;
}

.footer h1 {
    margin: 0;
    font-size: 5em;
    color: rgb(255, 255, 255);
    font-weight: 800;
}