.container {
    font-family: Arial, sans-serif;
    color: rgb(200, 200, 200);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Theme Switcher Buttons */
.themeSwitcher {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.themeSwitcher button {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-clip: padding-box;
}

.redButton {
    background-color: red;
}

.greenButton {
    background-color: green;
}

.blueButton {
    background-color: blue;
}

.defaultButton {
    background-color: #121212;
}

/* Theme Colors */
.red .header h1,
.red .header p {
    color: pink;
}

.green .header h1,
.green .header p {
    color: lightgreen;
}

.blue .header h1,
.blue .header p {
    color: lightblue;
}

/* Transitions */
.transitionOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .75s ease;
}

.transitioning {
    opacity: 1;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.contact {
    list-style-type: none;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 10px 10px 0px;
}

.emailLogo,
.maltLogo,
.linkedinLogo,
.githubLogo {
    filter: brightness(0) saturate(100%) invert(1);
}

.emailLogo:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(99%) saturate(1063%) hue-rotate(359deg) brightness(103%) contrast(97%);
}

.maltLogo:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(4157%) hue-rotate(323deg) brightness(108%) contrast(114%);
}

.linkedinLogo:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(73%) saturate(2285%) hue-rotate(180deg) brightness(95%) contrast(101%);
}

.githubLogo:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(89%) saturate(406%) hue-rotate(82deg) brightness(95%) contrast(89%);
}

.scrollText {
    margin-top: 160px;
}

.scroll {
    width: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

@media only screen and (min-aspect-ratio: 1/1) {
    .mainMobile {
        display: none;
    }

    .logo {
        display: none;
    }

    .header {
        z-index: 100;
        text-align: center;
        padding: 150px 0;
        position: relative;
    }

    .header h1 {
        margin: 0;
        font-size: 5em;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .mainDesktop {
        display: none;
    }

    .scrollText,
    .scroll {
        display: none;
    }

    .header {
        text-align: center;
        position: relative;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .header h1 {
        font-size: 2.5em;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }

    .emailLogo,
    .maltLogo,
    .linkedinLogo,
    .githubLogo {
        filter: brightness(0) saturate(100%) invert(0.75);
    }

    .mainMobile h1 {
        font-size: 1.5em;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }

    .mainMobile h2 {
        color: rgb(255, 255, 255);
        font-weight: 800;
    }

    .mainMobile .mdLink {
        color: cornflowerblue;
        text-decoration: underline;
    }
}