.terminalContainer {
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
    color: #F1F1F1;
}

.terminalHeader {
    display: flex;
    align-items: center;
    background: #2b2b2b;
    padding: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.buttons span {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
}

.close {
    background: #ff5f56;
    cursor: pointer;
}

.minimize {
    background: #ffbd2e;
}

.maximize {
    background: #27c93f;
}

.terminalHeader:hover .close::before,
.terminalHeader:hover .minimize::before,
.terminalHeader:hover .maximize::before {
    content: '';
    color: #1e1e1e;
    font-weight: bold;
    position: absolute;
    top: 43.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    font-weight: 100;
    line-height: 1;
}

.terminalHeader:hover .close::before {
    content: '×';
}

.terminalHeader:hover .minimize::before {
    content: '−';
}

.terminalHeader:hover .maximize::before {
    content: '↔';
}

.title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    color: #c5c5c5;
}

.terminalBody {
    padding: 20px;
    background: #1e1e1e;
    border-radius: 0 0 10px 10px;
    height: calc(100% - 40px);
}

.terminalPre {
    margin: 0;
}

.terminalCode {
    white-space: pre-wrap;
}